<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIconFiles</key>
	<array/>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>accelerometer</key>
		<true/>
		<key>opengles-1</key>
		<true/>
	</dict>
	<key>Tank Value by type</key>
	<array>
		<dict>
			<key>TankSize_Width</key>
			<integer>48</integer>
			<key>TankSize_Height</key>
			<integer>48</integer>
			<key>MoveSpeed</key>
			<integer>10</integer>
			<key>TurnSpeed</key>
			<integer>5</integer>
			<key>LifeValue</key>
			<integer>100</integer>
			<key>FieldOfView</key>
			<integer>200</integer>
			<key>BulletModel</key>
			<dict>
				<key>HarmValue</key>
				<integer>30</integer>
				<key>LiftValue</key>
				<integer>300</integer>
				<key>MoveSpeed</key>
				<integer>40</integer>
				<key>BulletSize_Width</key>
				<integer>10</integer>
				<key>BulletSize_Height</key>
				<integer>10</integer>
			</dict>
			<key>RadarModel</key>
			<dict>
				<key>FieldOfView</key>
				<integer>400</integer>
			</dict>
			<key>BarrelModel</key>
			<dict>
				<key>TurnSpeed</key>
				<integer>10</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>
